[mysqld_safe]
default-character-set = utf8mb4


[mysqld]
default_authentication_plugin = mysql_native_password

# bind-address=0.0.0.0

# 首次使用时，以下两项配置必须注释掉，配置好允许登陆 IP 之后，再取消注释。
# 原因：首次只允许 localhost 登录，不注释掉的话无法解析，所以登陆不了。
# 不注释该选项会影响 MySQL 性能。
#skip-host-cache
#skip-name-resolve

log_output = FILE
log_timestamps=SYSTEM

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'

slow_query_log = 1
slow_query_log_file =/var/lib/mysql-logs/slow.log
long_query_time = 1

# 未使用索引的查询也被记录到慢查询日志中（可选项）
log_queries_not_using_indexes = 1

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# default-storage-engine=InnoDB


[client]
default-character-set = utf8mb4


[mysql]
default-character-set = utf8mb4


